body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #faf7fb;
  color: #333;
}

header {
  background: #e6d9ef;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #5e2b7a;   /* roxo escuro */
  font-weight: 700;
}

header p {
  color: #000000;   /* preto */
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #e6d9ef;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #5e2b7a;
  font-weight: 500;
}

.hero {
  text-align: center;
  padding: 40px;
}

.btn-whatsapp {
  background: #7b4a9e;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.produto {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: #e6d9ef;
  text-align: center;
  padding: 15px;
}

#pagamento {
  background: #f4f1fb;
  padding: 40px;
  text-align: center;
}

#pagamento h2 {
  color: #5e2b7a;
}
